<header class="HOMES-header">
    <img class="brand-logo" src="home.png" alt="logo">
    HOMES
  </header>
  
  <section class="content">
    <form>
      <input type="text" placeholder="Filter by street">
      <button class="primary" type="button">Find homes</button>
    </form>
  </section>
  
  <section class="results">
    <div class="listing" *ngFor="let location of data">
      <img [src]="location.photo" [alt]="location.name"/>
      <h2>{{location.name}}</h2>
      <p class="listing-address">
        {{location.city}}, {{location.state}}
      </p>
      <div class="features">
        <span class="feature">{{location.beds || 3}} Beds</span>
        <span class="feature">{{location.baths || 2}} Baths</span>
        <span class="feature">{{location.sqft || '1,500'}} sq ft</span>
      </div>
    </div>
  </section>